body{
    background-color: #b69f5b;
}
.divH2CadEditDelet{
    text-align: center;
    position:relative;
    top:20vh;
}

.LinkUsuarioCadastraEditaDeleta{
    font-size: calc(1vw + 1vh);
    position:relative;
    left:5vw;
}

.spanUsuarioCadastraEditaDeleta{
    position:relative;
    font-size:calc(1vw + 1vh);
    float:right;
    right:3vw;
}

@media (max-width: 1000px){
    body{
        background-color: #b69f5b;
    }
    .divH2CadEditDelet{
        text-align: center;
        position:relative;
        top:20vh;
        font-size: 3vw;
    }
    
    .LinkUsuarioCadastraEditaDeleta{
        position:relative;
        top:2vh;
        font-size: calc(3vw + 1vh);
        position:relative;
        left:5vw;
        
    }
    
    .spanUsuarioCadastraEditaDeleta{
        position:relative;
        font-size:calc(1vw + 1vh);
        float:right;
        right:3vw;
    }
        
}