body{
    background-color: #b69f5b;
}

.divH1PesquisarColaboradores{
    text-align: center;
}

.divInputsPesquisa{
    text-align: center;
}

.divColaboradores{
    text-align: center;
}

@media (max-width: 1000px){
    body{
        background-color: #b69f5b;
    }
    .divLinks{
        position: relative;
        top: 3vh;
        font-size: calc(3vw + 1vh);
    }
    
    .divH1PesquisarColaboradores{
        position:relative;
        top:10vh;
        font-size: 4vw;
        text-align: center;
    }
    
    .divInputsPesquisa{
        position:relative;
        top:15vh;
        text-align: center;
    }

    .inputPesquisaColaborador{
        width:70vw;
        height:3vh;
        font-size: 5vw;
        background-color: #b69f5b;
        border:0px solid black;
        border-bottom:2px solid black
    }

    .inputPesquisaColaborador::placeholder{
        color:rgb(94, 94, 94)
    }

    .selectNomeRgCpf{
        position:relative;
        top:6vh;
        width:19vw;
        height:3vh;
        font-size: 4vw;
    }

    .buttonPesquisar{
        position:relative;
        top:10vh;
        width:19vw;
        height:4vh;
        font-size: 4vw;
    }
    
    .divColaboradores{
        position:relative;
        top:45vh;
        text-align: center;
    }

    .elementH1{
        font-size: 7vw;
    }

    .elementImagem{

    }

    .elementSpanNome{
        font-size: 6vw !important;
    }

    .elementSpanTelefone{
        font-size: 6vw !important;
    }

    .elementSpanRg{
        font-size: 6vw !important;
    }
    
    .elementSpanCpf{
        font-size: 6vw !important;
    }

    .elementSpanSpjAnoDp{
        font-size: 6vw !important;
    }
}