
.divLinks a{
    position:relative;
    left:5vw;
    font-size:1.85vw;
    color:black
}

.divH1EditarUsuarios{
    text-align: center;
}
.divInputsBusca{
    text-align: center;
}


.inputPesquisUsuarios{
    font-size: calc(0.8vw + 0.8vh);
    width:15vw;
    height:3.8vh
}

.buttonPesquisaUsuarios{
    width:6vw;
    height:3.8vh;
}

.divElementsUsuarios{
    text-align: center;
}
