body {
  background-color: #b69f5b;
}

.divPesquisarUsuarios {
  text-align: center;
}

.inputPesquisar {
  width: 30vw;
  height: 4vh;
  font-size: calc(1vh + 1vw);
}

.selectPesquisar {
  width: 12vw;
  height: 3.5vh;
  font-size: calc(1vw + 1vh);
  color: gray;
}
.divLinks {
  font-size: calc(1.1vw + 0.5vh);
}
.buttonPesquisar {
  width: 10vw;
  height: 5vh;
  font-size: calc(1vw + 1vh);
}

.divColaboradores {
  text-align: center;
}

@media (max-width: 1000px) {
  body {
    background-color: #b69f5b;
  }

  .divLinks {
    position: relative;
    top: 3vh;
    font-size: calc(3vw + 1vh);
  }

  
  .h1EditarColaborador {
    font-size: 7vw;
  }

  .divEditarColaborador {
    position: relative;
    top: 10vh;
  }

  
  .divPesquisarUsuarios {
    text-align: center;
    position: relative;
    top: 10vh;
  }

  .inputPesquisar {
    position:relative;
    top:6vh;
    width: 60vw;
    background-color:#b69f5b;
    border:0px solid black;
    border-bottom: 1px solid black;;
    height: 4vh;
    font-size: calc(2vh + 1vw);
  }

  .inputPesquisar::placeholder{
    color:black
  }

  .selectPesquisar {
    width: 29vw;
    height: 3.5vh;
    font-size: calc(2vw + 1vh);
    color: gray;
    position:relative;
    top:11vh;
  }
  

  .buttonPesquisar {
    position:relative;
    top:17vh;
    width: 20vw;
    height: 5vh;
    font-size: calc(2vw + 1vh);
  }

  .hrSeparaDosColaboradores{
    position:relative;
    top:30vh;
  }
  .divColaboradores {
    position:relative;
    top:30vh;
    text-align: center;
  }

  .elementTitulo {
    font-size: 5vh;
  }
  .elementImagem {
    border: 0px solid black;
    position: relative;
    top: 0vh !important;
  }

  [class^="inputFile"]{
    font-size: 2vh;
  }
  [class^="inputFile"]::-webkit-file-upload-button {
    width:26vw !important;
    height:4vh;
    font-size: 3vw;
  }

  .elementNome{
    position:relative;
    top:11vh !important;
    width:55vw;
    height:3.5vh;
    font-size:4vw;
  }

  .elementTelefone{
    position:relative;
    top:15vh !important;
    width:55vw;
    height:3.5vh;
    font-size:4vw;
  }

  .elementRg{
    position:relative;
    top:19vh !important;
    width:55vw;
    height:3.5vh;
    font-size:4vw;
  }

  .elementCpf{
    position:relative;
    top:23vh !important;
    width:55vw;
    height:3.5vh;
    font-size:4vw;
  }
  
  .elementSpjAnoDp{
    position:relative;
    top:27vh !important;
    width:55vw;
    height:3.5vh;
    font-size:4vw;
  }

  .elementButtonSalvar{
    border:0px solid black;
    position:relative;
    width:20vw;
    height:4vh;
    font-size: 4vw;
    top:30vh !important;
  }
  .elementButtonDeletar{
    border:0px solid black;
    position:relative;
    left:5vw;
    width:20vw;
    height:4vh;
    font-size: 4vw;
    top:30vh !important;
  }
  
}
